<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="3.5" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <PackagePublisher>Dirk Schäfauer</PackagePublisher>
        <PackageAuthor>Dirk Schäfauer</PackageAuthor>
        <SitecoreAssemblyPath>$(SolutionDir)\lib</SitecoreAssemblyPath>
    </PropertyGroup>

    <PropertyGroup Condition=" '$(Configuration)' == 'Debug' ">
        <PackageAuthor>Dirk Schäfauer</PackageAuthor>
        <OutputPath>.\bin\Debug\</OutputPath>
        <SitecoreWebUrl>https://sc.dev.local/</SitecoreWebUrl>
        <SitecoreDeployFolder>C:\inetpub\wwwroot\sc.dev.local</SitecoreDeployFolder>
        <RecursiveDeployAction>Ignore</RecursiveDeployAction>
        <InstallSitecoreConnector>True</InstallSitecoreConnector>
        <SitecoreAccessGuid>1a7cd905-cce4-4d6f-8805-673d5e35c07a</SitecoreAccessGuid>
        <DisableFileDeployment>False</DisableFileDeployment>
        <LightningDeployMode>True</LightningDeployMode>
    </PropertyGroup>

    <!-- available: -->
    <!-- Packaging properties -->
    <!--
        <PackageAuthor></PackageAuthor>
        <PackagePublisher></PackagePublisher>
        <PackageVersion></PackageVersion>
        <PackageReadme></PackageReadme>
        <SitecoreAssemblyPath></SitecoreAssemblyPath>
        <GeneratePackage></GeneratePackage>
        <SeperateFilesAndItems></SeperateFilesAndItems>
        <PackageExcludeCode></PackageExcludeCode>
        <AddDateTimeToPackageName></AddDateTimeToPackageName>
        -->
    <!-- Deployment Properties -->
    <!--
        <SitecoreWebUrl></SitecoreWebUrl>
        <SitecoreDeployFolder></SitecoreDeployFolder>
        <RecursiveDeployAction></RecursiveDeployAction>
        <InstallSitecoreConnector></InstallSitecoreConnector>
        <SitecoreAccessGuid></SitecoreAccessGuid>
        <DisableFileDeployment></DisableFileDeployment>
        <LightningDeployMode></LightningDeployMode>
        <ConnectorTimeoutSeconds></ConnectorTimeoutSeconds>
    -->
    <!-- NuGet package properties -->
    <!--
        <NuGetGenerateNuGetPackage></NuGetGenerateNuGetPackage>
        <NuGetExePath></NuGetExePath>
        <NuGetSummary></NuGetSummary>
        <NuGetDescription></NuGetDescription>
        <NuGetTitle></NuGetTitle>
        <NuGetVersion></NuGetVersion>
        <NuGetPackageId></NuGetPackageId>
        <NuGetAuthors></NuGetAuthors>
        <NuGetProjectUrl></NuGetProjectUrl>
        <NuGetTags></NuGetTags>
        <NuGetRequireLicenseAcceptance></NuGetRequireLicenseAcceptance>
        <NuGetReleaseNotes></NuGetReleaseNotes>
        <NuGetLanguage></NuGetLanguage>
        <NuGetOwners></NuGetOwners>
        <NuGetCopyright></NuGetCopyright>
        <NuGetLicenseUrl></NuGetLicenseUrl>
        <NuGetIconUrl></NuGetIconUrl>
        <NuGetDependencies></NuGetDependencies>
        -->
    <!-- Validation Properties -->
    <!--
        <EnableValidations></EnableValidations>
        <ValidationSettingsFilePath></ValidationSettingsFilePath>
        -->
    <Import Project="TdsGlobal.config.user" Condition="exists('TdsGlobal.config.user')" />
</Project>
