<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="A11Y.Feature.Forms.DependencyInjection.A11YFormsConfigurator, A11Y.Feature.Forms"/>
        </services>
        <settings>
            <setting name="FormEmailAddressRegex" value="^(\s?[^\s;]+@[^\s;]+\.[^\s;]+\s?;)*(\s?[^\s;]+@[^\s;]+\.[^\s;]+)$"/>
        </settings>

        <pipelines>
            <forms.executeSubmit>
                <processor type="A11Y.Feature.Forms.Pipelines.ExecuteActionsAtomicly, A11Y.Feature.Forms" patch:instead="*[@type='Sitecore.ExperienceForms.Mvc.Pipelines.ExecuteSubmit.ExecuteActions, Sitecore.ExperienceForms.Mvc']"/>
            </forms.executeSubmit>
        </pipelines>
    </sitecore>
</configuration> 
